<h3>Edycja odcinków serialu <b><%= @serial.nazwa %></b></h3>

<table>
  <tr>
    <th>Sezon</th> 
    <th>Odcinek</th> 
    <th>Tytuł</th> 
    <th>Czas trwania</th> 
    <th>Data wyświetlania</th>
    <th>Operacje</th>
 </tr>

<% @serial.odcineks.sort {|a,b| a.sezon == b.sezon ? a.numer <=> b.numer : a.sezon <=> b.sezon }.each do |odcinek| %>

  <tr>
    <td><%= odcinek.sezon %></td>
    <td><%= odcinek.numer %></td>
    <td><%= odcinek.tytul %></td>
    <td><%= odcinek.czas_trwania %> min.</td>
    <td><%= odcinek.data_emisji %></td>
    <td class="edition"><%= link_to 'Edytuj', edit_odcinek_path(odcinek) %></td>
    <td class="edition"><%= link_to 'Usuń', odcinek, :confirm => 'Czy na pewno?', :method => :delete %></td>

 </tr>

<% end %>
</table>

<hr />
<span class="edition"><%= link_to 'Dodaj nowy odcinek', :action => :new, :id => @serial.id %></span>
