<h3>Oglądasz odcinki serialu <b><%= @serial.nazwa %></b></h3>

<ul>
<% @sezony.each do |sezon| %>
  <li>
    <a href=<%= "\"\#sezon#{sezon}\"" %>>
      Sezon <%= sezon %>
    </a>
  </li>
<% end %>
</ul>

<% @sezony.each do |sezon| %>
  <h3><a name=<%= "\"sezon#{sezon}\""%>>Sezon <%= sezon %></a></h3>

  <table>
    <tr>
      <th>#</th>
      <th>Tytuł</th>
      <th>Data wyświetlania</th>
      <th>Długość odcinka (w minutach)</th>
    </tr>      

  <% @odcinki[sezon].sort_by { |odc| odc.numer }.each do |odcinek| %>
    <tr>
      <td><%= odcinek.numer %></td>
      <td><%= odcinek.tytul %></td>
      <td><%= odcinek.data_emisji.strftime "%B %d, %Y" %></td>
      <td><%= odcinek.czas_trwania %></td>
    </tr>
  <% end %>

  </table>
<% end %>

