<h1>Lista seriali</h1>

<table>
  <tr>
    <th>Nazwa</th>
    <th>Opis</th>
    <th>Kategoria</th>
    <th>Kanal tv</th>
  </tr>

<% @serials.each do |serial| %>
  <tr>
    <td><%=h serial.nazwa %></td>
    <td><%=h serial.opis %></td>
    <td><%=h serial.kategoria %></td>
    <td><%=h serial.kanaltv %></td>
    <td><%= link_to 'Pokaż', serial %></td>
    <td><%= link_to 'Edytuj', edit_serial_path(serial) %></td>
    <td><%= link_to 'Usuń', serial, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Dodaj nowy serial', new_serial_path %>