<h1><%=h @serial.nazwa %></h1>

<p>
  <b>Kategoria:</b>
  <%=h @serial.kategoria %>
</p>

<p>
  <b>Kanaltv:</b>
  <%=h @serial.kanaltv %>
</p>

<p>
  <b>Opis:</b>
  <%=h @serial.opis %>
</p>

<h3>Aktorzy występujący w serialu</h3>

<% @serial.aktors.each do |aktor| %>
  <ul>
    <li><%= link_to "#{aktor.imie} #{aktor.nazwisko}", aktor %></li>
  </ul>
<% end %>
