<h1><%=h @serial.nazwa %></h1>

<p>
  <b>Kategoria:</b>
  <%=h @serial.kategoria %>
</p>

<p>
  <b>Kanaltv:</b>
  <%=h @serial.kanaltv %>
</p>

<p>
  <b>Opis:</b>
  <%=h @serial.opis %>
</p>

<p>
  <b>Liczba odcinków:</b> 0
</p>

<p>
  <%= link_to 'Spis odcinków', :controller => :odcineks, :action => :show_for_serial, :id => @serial.id %>
</p>

<h3>Aktorzy występujący w serialu</h3>

<ul>
<% @serial.rolas.each do |rola| %>
   <% aktor = Aktor.find(rola.aktor_id) %>  
   <li>
     <%= link_to "<b>#{aktor.imie} #{aktor.nazwisko}</b>", aktor %>
       <%= " jako #{rola.imie_postaci} #{rola.nazwisko_postaci}" %>
     <% if can_edit? :serials %>
        <span class="edition">
          <%= link_to "[Usuń rolę]", rola, :confirm => 'Czy na pewno?', :method => :delete %>
        </span>
     <% end %>
  </li>
<% end %>
</ul>

<% if is_signed_in? %>

<hr />
  <% if @ocena.wartosc %>
    <%= "Serial <b>#{@serial.nazwa}</b> został przez Ciebie oceniony na <b>#{@ocena.wartosc}</b>/10." %>
  <% else %>
    Nie oceniono jeszcze tego serialu.
  <% end %>

  <% form_for(@ocena) do |f| %>
     <br />
     <%= f.label :wartosc, 'Wartość oceny' %>
     <%= f.select(:wartosc, options_for_select(@wartosc_options, @ocena.wartosc)) %>

     <%= f.hidden_field :serial_id     %>
     <%= f.hidden_field :uzytkownik_id %>

     <%= f.submit 'Zapisz' %>
  <% end %>
<% end %>

<% if can_edit? :serials %>
<div class="edition">
<hr />
<%= link_to 'Edytuj serial', edit_serial_path(@serial) %><br /><br />
<%= link_to 'Edytuj odcinki', :controller => :odcineks, :action => :edit_for_serial, :id => @serial.id %><br /><br /> 
<%= link_to "Dodaj aktora do <b>#{@serial.nazwa}</b>", 
            :controller => :rolas, :action => :new_with_serial, :id => @serial.id %>
</div>
<% end %>
