<h1><%=h @serial.nazwa %></h1>

<p>
  <b>Kategoria:</b>
  <%=h @serial.kategoria %>
</p>

<p>
  <b>Kanaltv:</b>
  <%=h @serial.kanaltv %>
</p>

<p>
  <b>Opis:</b>
  <%=h @serial.opis %>
</p>

<h3>Aktorzy występujący w serialu</h3>

<ul>
<% @serial.rolas.each do |rola| %>
   <% aktor = Aktor.find(rola.aktor_id) %>  
   <li>
     <%= link_to "<b>#{aktor.imie} #{aktor.nazwisko}</b>", aktor %>
       <%= " jako #{rola.imie_postaci} #{rola.nazwisko_postaci}" %>
     <% if can_edit? :serials %>
        <span class="edition">
          <%= link_to "[Usuń rolę]", rola, :confirm => 'Czy na pewno?', :method => :delete %>
        </span>
     <% end %>
  </li>
<% end %>
</ul>

<% if is_signed_in? %>

<hr />
Oceń serial.

  <% form_for(@ocena) do |f| %>
     <p>
       <%= f.label :wartosc, 'Wartość oceny' %>
     </p>

    <p><%= f.submit 'Zapisz' %></p>
  <% end %>
<% end %>

<% if can_edit? :serials %>
<div class="edition">
<hr />
<%= link_to 'Edytuj serial', edit_serial_path(@serial) %><br /><br />
<%= link_to "Dodaj aktora do <b>#{@serial.nazwa}</b>", 
            :controller => :rolas, :action => :new_with_serial, :id => @serial.id %>
</div>
<% end %>
