<h3>Edycja list użytkownika <b><%= @user.nazwa %></b></h3>

<table>
  <tr>
    <th>Nazwa</th><th>Operacje</th>
  </tr>

<% @user.listas.each do |lista| %>

<tr>
  <td><%= link_to lista.nazwa, lista %></td>
  <td class="edition"><%= link_to 'Edytuj', edit_lista_path(lista) %></td>
  <td class="edition"><%= link_to 'Usuń', lista, :confirm => 'Czy na pewno?', :method => :delete %></td>
</tr>

<% end %>

<%= link_to 'Utwórz nową listę', :action => :new, :id => @user.id %>
