<h1><%= h @aktor.imie %> <%= h @aktor.nazwisko %></h1>

<p>
  <b>Płeć:</b>
  <%= show_gender(@aktor) %>
</p>

<p>
  <b>Data urodzenia:</b>
  <%=h @aktor.data_urodzenia %>
</p>

<h3>Role w serialach</h3>

<% @aktor.serials.each do |serial| %>
  <ul>
    <li><%= link_to serial.nazwa, serial %></li>
  </ul>
<% end %>

<% if can_edit? :serials %>
  <hr />
  <%= link_to "Edycja danych aktor#{ @aktor.nil? || @aktor.plec=='k' ? 'ki' : 'a'}", 
               edit_aktor_path(@aktor) %> <br /><br />
  Dodaj do serialu

<% end %>