<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nazwa %><br />
    <%= f.text_field :nazwa %>
  </p>


  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.submit 'Save' %>
  </p>

<% end %>