<h2>Rejestracja nowego użytkownika</h2>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nazwa %><br />
    <%= f.text_field :nazwa %>
  </p>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :Hasło %><br />
    <%= f.password_field :password %> 
  </p>

  <p> 
    <%= f.label :password_confirmation, "Potwierdzenie hasła" %><br />
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.submit 'Zarejestruj' %>
  </p>

<% end %>