<% form_for(@rola) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :serial %><br />
    <%= f.select(:serial_id, options_for_select(@seriale_options, @rola.serial_id)) %>
  </p>

  <p>
    <%= f.label :aktor %><br />
    <%= f.select(:aktor_id, options_for_select(@aktorzy_options, @rola.aktor_id)) %>
  </p>

  <p>
    <%= f.label :imie_postaci %><br />
    <%= f.text_field :imie_postaci %>
  </p>

  <p>
    <%= f.label :nazwisko_postaci %><br />
    <%= f.text_field :nazwisko_postaci %>
  </p>

  <p>
    <%= f.submit "Zapisz" %>
  </p>
<% end %>