<div id="profil_menu">
  <% if current_user.nil? %>
    <%= link_to 'Zaloguj się', signin_path %><br /><br />
    <%= link_to 'Załóż nowe konto', signup_path %>
  <% else %>
    <%= link_to 'Wyloguj się', signout_path %>
    
    <hr />

    <%= link_to 'Twój profil', current_user %> <br /><br/>
    <%= link_to 'Twoje oceny', :controller => 'ocenas', :action => 'index', :id => current_user.id %><br /><br />
    <%= link_to 'Twoje listy', 
                :controller => 'listas', :action => 'show_for_user', :id => current_user.id %><br /><br /> 
    <%= link_to 'Publiczne listy', listas_path %><br />
    <% if current_user.admin? %>
      <div class="edition">
        <%= link_to 'Zarządzanie użytkownikami', manage_uzytkowniks_path %>
      </div>
    <% end %>
  <% end %>

</div>