<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Hello! <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'main' %>
  </head>
  <body>
    <p style="color: green"><%= flash[:notice] %></p>

    <div id="banner">
      <h1><i>S e r i a l e</i></h1>
    </div>

    <div id="header">
      <%= link_to 'Strona główna', root_path %>
      <%= link_to 'Pomoc', help_path %>
      <% if current_user.nil? %>
        <%= link_to 'Zaloguj się', signin_path %>
        <%= link_to 'Załóż konto', signup_path %>
      <% else %>
        <%= link_to 'Wyloguj się', signoff_path %>
      <% end %>


    </div>

    <div id="main_contents" class="round">    
      <div id="seriale_menu">
        <%= link_to 'Seriale', '#' %> <br />
        <%= link_to 'Aktorzy', '#' %> <br />
      </div>
 
     <div id="profil_menu">
	<%= link_to 'Lista użytkowników', users_path %><br /><br />
	<% unless current_user.nil? %>
	  <%= link_to 'Twój profil', current_user %>
	<% end %>
      </div>
   
      <div id="content">
        <% flash.each do |key, value| %>
          <div class="flash_<%= key %>"><%= value %></div>
        <% end %> 

        <%= yield %>
      </div>
    </div>

  </body>
</html>
